.headcard {
    background-color: blue;
}
.headcard2 {
    background-color:yellowgreen;
}
.headcard3 {
    background-color:blueviolet;
}
.headcard4 {
    background-color:purple;
}
.headcard5 {
    background-color:green;
}