<div class="container-fluid">
    <div class="col-sm-2 headcard">
        <p style="font-size: 11px;">Unique pages accessed</p>
        <h4>{{uniquepagesaccessed.value}}</h4>
        <p></p>
    </div>
    
    <div class="col-sm-2 headcard">
        <p style="font-size: 11px;">Number of IPs used</p>
        <h4>{{noipused.value}}</h4>
        <p>Rs</p>
    </div>
    <div class="col-sm-2 headcard">
        <p style="font-size: 11px;">Average Latency</p>
        <h4>{{avglatency.value}}</h4>
        <p>Rs</p>
    </div>
    <div class="col-sm-2 headcard">
        <p style="font-size: 11px;">Total Downloads(in kbs)</p>
        <h4> {{totaldownload.value}}</h4>
        <p>Rs</p>
    </div>
    <div class="col-sm-2 headcard">
        <p style="font-size: 11px;">Failures(requests with non HTTP 20x or 30x codes)</p>
        <h4>{{Failures}}</h4>
        <p>Rs</p>
    </div>
</div>  